<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="NotetakingApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="default" connectionString="Data Source=.\DB.db;Version=3" providerName="System.Data.SqlClient"/>
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <NotetakingApp.Properties.Settings>
            <setting name="Top" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Left" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Height" serializeAs="String">
                <value>700</value>
            </setting>
            <setting name="Width" serializeAs="String">
                <value>1200</value>
            </setting>
            <setting name="Maximized" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MaxMin" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="Color1" serializeAs="String">
                <value>#563232</value>
            </setting>
            <setting name="Color2" serializeAs="String">
                <value>#ffe5cf</value>
            </setting>
            <setting name="Color3" serializeAs="String">
                <value>#332323</value>
            </setting>
            <setting name="Color4" serializeAs="String">
                <value>#755454</value>
            </setting>
            <setting name="Color5" serializeAs="String">
                <value />
            </setting>
            <setting name="Color6" serializeAs="String">
                <value />
            </setting>
            <setting name="Color7" serializeAs="String">
                <value />
            </setting>
            <setting name="Color8" serializeAs="String">
                <value />
            </setting>
            <setting name="Color9" serializeAs="String">
                <value />
            </setting>
            <setting name="Color10" serializeAs="String">
                <value />
            </setting>
        </NotetakingApp.Properties.Settings>
    </userSettings>
</configuration>